* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2426; 
  color: white;
}

a {
text-decoration: none;
color: white;
}

ul {
  list-style: none; /* убираем маркеры */
  margin: 0;             /* убираем отступ сверху/снизу */
  padding: 0;            /* убираем внутренний отступ слева */
}

li {
padding: 8px 12px;
margin-bottom: 6px;}

html, body {
  height: 100%;}

.body_main {
  height: 100%;
  display:flex;
  flex-direction: column;
  margin: 0px 100px;
}

.nav_menu {
  height: 50px;
text-align: center;
background: #242835;
}
.main_body {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.main_body > * {
  background-color: #f1f1f1;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.aside_menu {
  width: 200px;
  background-color: #2b3034;
}

.side-menu-item {
background: #2b3034;}

.side-menu-item > * {
background: #2b3034;
font-size: 20px;
font-weight: bold;
text-align: left;}

.main {
  flex: 1;
  background: #161a1b;
}

.div_main {
width: 83%;
height: 100%;
border-right: 0.6px solid rgb(194, 197, 204, 0.2);
background-color: #161a1b;
padding: 5px 10px;
}

.card-title {
background-color: #161a1b;
}

.cards-list {
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 0;
    background-color: #34393B;
}

.item-card-list {
  background-color: #161a1b;
}

.createButton {
  display: none;
  margin-top: 10px;}
