{% extends 'base.html' %}

{% block  title%} Карточки {% endblock%}
{% block main %}
<h2 class='card-title'> Карточки</h2>
<div class=buttoncolor> 
  <button onclick=toggleForm()> Создать запись </button>
  <div class=pagination>
    <button id='prevBtn'>Previous</button>
  <button id='nextBtn'>Next</button>
  </div>

</div>
  <div id=createContainer class="createButton hidden">
    <form id="createForm" method=POST action='/action/create_card/'>
      <label> Заголовок</label><br>
      <input type='text' name='title'><br>

      <label> Подзаголовок </label><br>
      <input type='text' name='subtitle'><br>

      <label> Содержание </label><br>
      <textarea name='content'> </textarea><br>

      <button type='submit'> Сохранить </button>  
      </form>
  </div>

  <ul class='item-card-list' id="cardList"> </ul>

{%- endblock %}

{% block scripts %}
<script>
  let offset = 0;
  const limit = 5;

async function loadCards() {
    try {
        
        const response = await fetch(`http://127.0.0.1:8000/action/get_card/?limit=${limit}&offset=${offset}`, {
            credentials: "include"
        });
        
        if (!response.ok) {
            throw new Error(`HTTP Error! status ${response.status}`);
        }

        const cards = await response.json();
        
        const list = document.getElementById("cardList");
        
        list.innerHTML = "";

        cards.forEach(card => {
            const li = document.createElement("li");
            li.className = 'cards-list';
            li.textContent = card.title;
            list.appendChild(li);
        });

        updateButtonState(cards.length);

    } catch (error) {
        console.error('❌ Error loading cards', error);
    }
}
  function nextPage() {
      offset += limit;
      loadCards();
  }

  function prevPage() {
      offset = Math.max(0, offset - limit);
    loadCards();
  }

  function updateButtonState(cardsLength) {
    const prevBtn = document.getElementById('prevBtn')
    const nextBtn = document.getElementById('nextBtn')

    prevBtn.disabled = offset === 0;
    nextBtn.disabled = cardsLength < limit;
  }


  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("prevBtn").addEventListener("click", prevPage);
    document.getElementById("nextBtn").addEventListener("click", nextPage);
    
    loadCards();
  });

  function toggleForm() {
    const form = document.getElementById('createContainer');
    form.classList.toggle('hidden');
  }

  document.getElementById("createForm").addEventListener("submit", async (e) => {
    e.preventDefault();
    const form = e.target;
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());
    const payload = {
        data: {
          title: data.title,
          subtitle: data.subtitle,
          content: data.content
              },
        meta: {
        cat: data.cat,
        tag: data.tag ? data.tag.split(',') : []
        }
      };
  
    const response = await fetch("http://127.0.0.1:8000/action/create_card/", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
                },
      body: JSON.stringify(payload),
      credentials: "include"
    });

    const result = await response.json();
    console.log(result);
  });

  const li = document.createElement("li");
li.className = "cards-list";

const title = document.createElement("span");
title.textContent = card.title;

const btn = document.createElement("button");
btn.textContent = "Удалить";
// обработчик удаления сюда

li.appendChild(title);
li.appendChild(btn);
list.appendChild(li);
</script>

{% endblock %}
